# DATASET

**Dataset contains userID, movieID, rating**

In [ ]:
import pandas as pd
df=pd.read_csv("/content/ratings.csv.csv")
df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

Creating **UTILITY MATRIX** from the dataset

In [ ]:
movie_matrix = df.pivot_table(index='userId', columns='movieId', values='rating')
movie_matrix.head()

movieId  1       2       3       4       ...  193583  193585  193587  193609
userId                                   ...
1           4.0     NaN     4.0     NaN  ...     NaN     NaN     NaN     NaN
2           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
3           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
4           NaN     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN
5           4.0     NaN     NaN     NaN  ...     NaN     NaN     NaN     NaN

[5 rows x 9724 columns]

**Imputing NULL values with zeros**

In [ ]:
processed=movie_matrix.fillna(0)
processed_data=processed.to_numpy()
import numpy as np
normalised=processed_data-np.asarray([(np.mean(processed_data, 1))]).T

Doing **SVD** on the utility matrix

In [ ]:
from numpy.linalg import svd
U,S,I=svd(normalised)

**U MATRIX shape**

In [ ]:
U.shape

(610, 610)

**sigma MATRIX SHAPE**

In [ ]:
S.shape

(610,)

**I matrix shape**

In [ ]:
I.shape

(9724, 9724)

In [ ]:
S

array([474.20606204, 231.22453421, 184.86187801, 163.73084057,
       153.93097112, 139.637245  , 134.58721632, 122.64724436,
       120.61532345, 112.80840902, 109.20838712, 107.04782929,
       105.97367358, 101.84794614,  99.82361796,  99.28906754,
        97.10067118,  93.39976829,  92.26271695,  90.9340682 ,
        90.33575237,  87.91550637,  86.51711471,  85.74871886,
        85.11688914,  83.04447645,  82.1973482 ,  81.5467832 ,
        80.56747647,  79.21217131,  79.04344482,  78.39405157,
        77.35717925,  76.70227225,  75.59325141,  75.17528213,
        74.9207733 ,  74.28978377,  74.02644882,  73.43760593,
        73.21879553,  72.43371861,  71.67445157,  70.19408599,
        70.02091789,  69.91863747,  69.4170401 ,  69.02678246,
        68.1967072 ,  67.86628347,  67.49283856,  67.42570852,
        67.06127828,  66.48427329,  66.07983659,  65.45461823,
        64.93025507,  64.71875407,  64.27603274,  63.86006353,
        63.80270812,  63.64267648,  63.1627701 ,  63.02669289,
        62.74529361,  62.29031812,  61.64173037,  61.53867253,
        61.23124769,  60.80123371,  60.52357852,  60.19112592,
        59.91565861,  59.75464303,  59.34575363,  59.19665541,
        58.95815891,  58.59236525,  58.28880509,  58.21135738,
        57.99824208,  57.73532419,  57.52015657,  57.32213579,
        57.08463044,  56.93836195,  56.77826484,  56.179179  ,
        56.05921358,  55.54398146,  55.38763164,  55.15791014,
        54.96792805,  54.65595939,  54.51849163,  54.31650144,
        54.14301196,  53.82085443,  53.62692959,  53.23888503,
        53.16877775,  52.96941006,  52.74476863,  52.38254313,
        52.21769366,  52.11532319,  52.08423423,  51.82993996,
        51.59378515,  51.23031001,  51.0270354 ,  50.87581342,
        50.61195616,  50.34960279,  50.28470735,  49.89780458,
        49.70621354,  49.55600445,  49.15849008,  49.15317821,
        48.89097504,  48.72753218,  48.56618293,  48.34988376,
        48.24521057,  48.02017699,  47.89470406,  47.63621815,
        47.61961975,  47.24857373,  46.99948677,  46.71822504,
        46.56128593,  46.49929399,  46.36348136,  46.1640149 ,
        45.8408787 ,  45.7422932 ,  45.63125272,  45.3051088 ,
        45.1524579 ,  44.96392833,  44.70370238,  44.51501317,
        44.35912695,  44.17917365,  44.14868587,  44.03279119,
        43.92716969,  43.88978769,  43.58185366,  43.49343565,
        43.37909205,  43.33804179,  42.93182091,  42.8695884 ,
        42.80279215,  42.65051635,  42.40115682,  42.2041241 ,
        42.03135568,  41.87360569,  41.73344805,  41.65946868,
        41.31152807,  41.02776906,  40.87369102,  40.79103313,
        40.64971586,  40.46355845,  40.33254747,  40.28545765,
        40.09594372,  39.87476409,  39.75176866,  39.67579682,
        39.52471912,  39.4612591 ,  39.32481049,  39.25385367,
        39.0897843 ,  38.85612776,  38.64325828,  38.45774546,
        38.31801034,  38.24152902,  38.19632959,  37.91238379,
        37.78532716,  37.53714529,  37.43537644,  37.2568357 ,
        37.09251993,  37.02278792,  37.01091742,  36.87759841,
        36.63455636,  36.58346844,  36.50822512,  36.20371685,
        36.13076084,  36.04965639,  35.92868776,  35.83554381,
        35.63863716,  35.41422179,  35.30954234,  35.26173237,
        35.1852291 ,  34.94983871,  34.84934275,  34.75961649,
        34.54833041,  34.50401632,  34.38578414,  34.27619023,
        34.25473741,  34.03629451,  34.02164516,  33.89255767,
        33.79092727,  33.66870001,  33.49206372,  33.3969519 ,
        33.28592452,  33.22436412,  33.15981572,  32.97483021,
        32.86311061,  32.82217684,  32.59137593,  32.42045227,
        32.35938627,  32.19629434,  32.0596714 ,  31.935726  ,
        31.85397893,  31.82915542,  31.77208107,  31.50900518,
        31.3756891 ,  31.22176908,  31.13449945,  31.0008708 ,
        30.86173679,  30.82368795,  30.72548347,  30.59101512,
        30.53858454,  30.31903618,  30.2209915 ,  30.15079776,
        30.09269444,  30.00845678,  29.99416253,  29.89912906,
        29.78762967,  29.62998694,  29.45196385,  29.38797729,
        29.34624129,  29.2323073 ,  29.13099045,  29.03880839,
        28.8782354 ,  28.80843128,  28.70205623,  28.53329761,
        28.47602036,  28.44651675,  28.35548479,  28.26602238,
        28.10837081,  28.0288902 ,  27.93689331,  27.8177309 ,
        27.77501044,  27.55687748,  27.50050656,  27.45588926,
        27.41642138,  27.39691334,  27.20770678,  27.17202019,
        27.09786767,  26.92103568,  26.81916608,  26.75720192,
        26.7365763 ,  26.65574379,  26.52294117,  26.49663854,
        26.36430085,  26.31316225,  26.19137466,  26.13704206,
        26.06388428,  26.02234875,  25.86485814,  25.85171621,
        25.75763263,  25.74660266,  25.50895561,  25.49160158,
        25.35933115,  25.34551305,  25.25410246,  25.13793451,
        25.06508583,  24.99956233,  24.87877432,  24.82905938,
        24.71804568,  24.65165029,  24.64093256,  24.54964172,
        24.42947957,  24.34444189,  24.17949207,  24.13513849,
        24.05957655,  23.99027587,  23.86048274,  23.82945337,
        23.73096342,  23.71954654,  23.60067593,  23.52889701,
        23.47588083,  23.32956706,  23.28344746,  23.19775451,
        23.17332536,  23.06071453,  23.02252998,  22.94476446,
        22.91917194,  22.83950709,  22.7538576 ,  22.65822883,
        22.62503764,  22.52034668,  22.49865798,  22.39210096,
        22.30283543,  22.23823855,  22.18607862,  22.1432471 ,
        22.09172829,  21.95576462,  21.8617312 ,  21.84995113,
        21.77164979,  21.75725451,  21.62275189,  21.54270324,
        21.50326923,  21.47377882,  21.41776053,  21.32100301,
        21.27494493,  21.2078912 ,  21.11268993,  21.07183947,
        21.01527799,  20.94513272,  20.89699875,  20.83161003,
        20.78439732,  20.66749326,  20.58398275,  20.53466318,
        20.48526052,  20.41807859,  20.37451932,  20.22204492,
        20.20256051,  20.0966282 ,  19.98945441,  19.97485122,
        19.91004299,  19.86933719,  19.84344548,  19.70340285,
        19.66098247,  19.60504131,  19.568696  ,  19.53512717,
        19.48011226,  19.43872043,  19.4073187 ,  19.2704615 ,
        19.24651139,  19.1754275 ,  19.14850756,  19.08687795,
        18.95223464,  18.93709744,  18.86213322,  18.7671114 ,
        18.73555874,  18.70612703,  18.62399734,  18.5969424 ,
        18.56750174,  18.4775211 ,  18.4218254 ,  18.3174546 ,
        18.25065428,  18.1933823 ,  18.14868801,  18.09931151,
        18.05310037,  17.98947895,  17.88099305,  17.84587767,
        17.82463455,  17.77067684,  17.69256128,  17.66230681,
        17.59055258,  17.57577501,  17.52581252,  17.44608602,
        17.35646586,  17.31126862,  17.23793564,  17.19809183,
        17.1452508 ,  17.06595103,  17.01283177,  16.93745973,
        16.90378457,  16.8787694 ,  16.83095365,  16.78005893,
        16.69848307,  16.66421535,  16.55045956,  16.53877749,
        16.45537602,  16.42331874,  16.40667289,  16.3429865 ,
        16.23596994,  16.19948689,  16.14281069,  16.03642774,
        16.02549359,  15.98907131,  15.93667359,  15.86129456,
        15.83688615,  15.75840398,  15.69503929,  15.66149016,
        15.59085673,  15.55437313,  15.49202684,  15.43544556,
        15.39050521,  15.32123743,  15.27821555,  15.22536421,
        15.19957813,  15.13620528,  15.07617717,  14.99515259,
        14.93031566,  14.8856835 ,  14.82150938,  14.78339151,
        14.70555806,  14.69636879,  14.64357446,  14.57899853,
        14.51809015,  14.45402164,  14.40205902,  14.36125668,
        14.31022642,  14.27654864,  14.21605783,  14.20180026,
        14.0944439 ,  14.04161239,  13.9972387 ,  13.94670355,
        13.93502012,  13.83052662,  13.75113089,  13.72912075,
        13.69110127,  13.58021192,  13.55756936,  13.47777177,
        13.41571152,  13.3758537 ,  13.32054103,  13.24830437,
        13.23743849,  13.16789903,  13.10317662,  12.99872482,
        12.95710357,  12.8612099 ,  12.80035269,  12.78085623,
        12.70480199,  12.68100493,  12.61996388,  12.60171448,
        12.46278873,  12.44074647,  12.37853671,  12.34185217,
        12.30422248,  12.23944723,  12.1784303 ,  12.17546284,
        12.08062541,  12.06113751,  11.94164152,  11.86531725,
        11.86113788,  11.77847494,  11.71819413,  11.67148394,
        11.63046433,  11.56737229,  11.49570773,  11.4253314 ,
        11.40260343,  11.33112893,  11.21611401,  11.15020567,
        11.11391102,  11.06455646,  10.98161483,  10.9652229 ,
        10.92000819,  10.83520188,  10.81086577,  10.77676814,
        10.74889928,  10.62323792,  10.58321345,  10.53944067,
        10.3978708 ,  10.33414617,  10.31074354,  10.22759738,
        10.16050662,  10.10458994,  10.07585306,   9.95659011,
         9.88984671,   9.76708025,   9.71453934,   9.62021274,
         9.58471342,   9.52249765,   9.46018286,   9.35118559,
         9.31302413,   9.27555157,   9.12952704,   9.07796962,
         8.97343161,   8.91146285,   8.87624433,   8.78965311,
         8.74235833,   8.67169901,   8.5498207 ,   8.49833228,
         8.32533671,   8.24455994,   8.14678785,   8.08122833,
         7.94990803,   7.84476868,   7.82809145,   7.73071736,
         7.69527937,   7.39816155,   7.35358565,   7.25073611,
         7.1287653 ,   7.03530456,   6.88469181,   6.70149864,
         6.57769331,   6.5322545 ,   6.36565147,   6.20269908,
         6.08531266,   6.05546333,   5.91871626,   5.72427149,
         5.34795828,   5.13017165,   4.94193303,   4.76430478,
         4.5646506 ,   4.49104941,   4.37139242,   3.87413908,
         3.11394884,   2.94719317])

# **FINDING K VALUE**

In [ ]:
sumS=np.sum(S,dtype='float64')
sumS

20438.025832501557

In [ ]:
sum = 0
for j in range(0,len(S)):
  sum=sum+S[j]
  if sum/sumS>=0.95:
    ind = j
    break
print(ind+1)

503

**Creating a list of MOVIE_IDs**

In [ ]:
movie_id=list(movie_matrix.columns)
movie_id

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 110,
 111,
 112,
 113,
 116,
 117,
 118,
 119,
 121,
 122,
 123,
 125,
 126,
 128,
 129,
 132,
 135,
 137,
 140,
 141,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 193,
 194,
 195,
 196,
 198,
 199,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 225,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 265,
 266,
 267,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 393,
 405,
 406,
 407,
 408,
 409,
 410,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 440,
 441,
 442,
 444,
 445,
 446,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 464,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 499,
 500,
 501,
 502,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 526,
 527,
 528,
 529,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 555,
 556,
 558,
 562,
 563,
 564,
 567,
 568,
 569,
 573,
 574,
 575,
 577,
 579,
 580,
 581,
 583,
 585,
 586,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 600,
 602,
 605,
 606,
 608,
 609,
 610,
 611,
 612,
 613,
 615,
 616,
 617,
 618,
 619,
 626,
 627,
 628,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 645,
 647,
 648,
 649,
 650,
 653,
 656,
 661,
 662,
 663,
 665,
 667,
 668,
 670,
 671,
 673,
 674,
 678,
 679,
 680,
 685,
 688,
 691,
 692,
 694,
 695,
 697,
 698,
 700,
 703,
 704,
 706,
 707,
 708,
 709,
 710,
 711,
 714,
 715,
 718,
 719,
 720,
 722,
 724,
 725,
 726,
 728,
 731,
 733,
 735,
 736,
 737,
 741,
 742,
 743,
 745,
 747,
 748,
 750,
 757,
 759,
 760,
 761,
 762,
 764,
 765,
 766,
 773,
 775,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 788,
 790,
 791,
 795,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 808,
 809,
 810,
 813,
 818,
 823,
 824,
 828,
 829,
 830,
 832,
 833,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 848,
 849,
 851,
 852,
 858,
 861,
 866,
 867,
 869,
 870,
 875,
 876,
 879,
 880,
 881,
 882,
 885,
 886,
 888,
 889,
 891,
 892,
 893,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 959,
 961,
 963,
 965,
 968,
 969,
 970,
 971,
 973,
 976,
 979,
 981,
 982,
 984,
 986,
 987,
 988,
 990,
 991,
 993,
 994,
 996,
 998,
 999,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1040,
 1041,
 1042,
 1043,
 1046,
 1047,
 1049,
 1050,
 1051,
 1053,
 1054,
 1055,
 1056,
 1057,
 1059,
 1060,
 1061,
 1064,
 1066,
 1068,
 1073,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1099,
 1100,
 1101,
 1103,
 1104,
 1105,
 1107,
 1111,
 1112,
 1114,
 1116,
 1117,
 1119,
 1120,
 1121,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1135,
 1136,
 1137,
 1140,
 1144,
 1147,
 1148,
 1150,
 1151,
 1156,
 1161,
 1162,
 1163,
 1167,
 1170,
 1171,
 1172,
 1173,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1228,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1236,
 1237,
 1238,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1292,
 1293,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 ...]

Creating a **Diagonal matrix of S**

# **RECOMMENDATION ENGINE 1**

In [ ]:
S1=np.diag(S)

In [ ]:
id=int(input("Enter ID:"))#94

Enter ID:94

In [ ]:
#id=94
k=0
similar_users=[]
U1=np.matmul(U[:,0:503],S1[:503,:503])
user_score=pd.DataFrame(columns=['ID','cosine_sim'])
from sklearn.metrics.pairwise import cosine_similarity
loc=0
for user in U1:
  if k+1!=id:
    cs=cosine_similarity(U1[id-1].reshape(1, -1),user.reshape(1, -1))
    user_score.loc[loc,'ID']=k+1
    user_score.loc[loc,'cosine_sim']=cs[0][0]
    loc+=1
  k+=1

In [ ]:
user_score

      ID  cosine_sim
0      1    0.104204
1      2   0.0263291
2      3 -0.00431544
3      4   0.0537185
4      5    0.440435
..   ...         ...
604  606   0.0744228
605  607    0.221653
606  608    0.178373
607  609    0.522065
608  610   0.0617195

[609 rows x 2 columns]

In [ ]:
sorted_cosine_df=user_score.sort_values(by='cosine_sim',ascending=False)

In [ ]:
sorted_cosine_df

      ID cosine_sim
80    81   0.785666
510  512   0.754382
124  126   0.753851
345  347   0.750647
468  470   0.745025
..   ...        ...
86    87 -0.0125838
54    55 -0.0127357
405  407 -0.0137169
205  207 -0.0147668
161  163 -0.0168077

[609 rows x 2 columns]

**capturing top 2 similar users**

In [ ]:
A=sorted_cosine_df.head(2)
A

      ID cosine_sim
80    81   0.785666
510  512   0.754382

In [ ]:
B=A['ID']
B

80      81
510    512
Name: ID, dtype: object

**rating behaviour of similar users by movies rated more than 3**

In [ ]:
for i in B:
  print("USER {}".format(i))
  for j in range(9724):
    if processed_data[i-1][j]>=3:
      print("movie id: ",movie_id[j],end=" ")
      print("rating by", i ,": ",processed_data[i-1][j],end=" ")
      print("rating by", id ,": ",processed_data[id-1][j])

USER 81
movie id:  32 rating by 81 :  5.0 rating by 94 :  5.0
movie id:  47 rating by 81 :  3.0 rating by 94 :  2.0
movie id:  110 rating by 81 :  3.0 rating by 94 :  5.0
movie id:  150 rating by 81 :  3.0 rating by 94 :  4.0
movie id:  153 rating by 81 :  3.0 rating by 94 :  3.0
movie id:  161 rating by 81 :  3.0 rating by 94 :  4.0
movie id:  165 rating by 81 :  3.0 rating by 94 :  4.0
movie id:  288 rating by 81 :  3.0 rating by 94 :  2.0
movie id:  296 rating by 81 :  3.0 rating by 94 :  4.0
movie id:  316 rating by 81 :  4.0 rating by 94 :  4.0
movie id:  318 rating by 81 :  3.0 rating by 94 :  5.0
movie id:  329 rating by 81 :  4.0 rating by 94 :  4.0
movie id:  377 rating by 81 :  3.0 rating by 94 :  3.0
movie id:  457 rating by 81 :  4.0 rating by 94 :  4.0
movie id:  480 rating by 81 :  4.0 rating by 94 :  4.0
movie id:  589 rating by 81 :  5.0 rating by 94 :  4.0
movie id:  592 rating by 81 :  3.0 rating by 94 :  3.0
USER 512
movie id:  2 rating by 512 :  3.0 rating by 94 :  4.0
movie id:  32 rating by 512 :  5.0 rating by 94 :  5.0
movie id:  39 rating by 512 :  4.0 rating by 94 :  1.0
movie id:  47 rating by 512 :  5.0 rating by 94 :  2.0
movie id:  50 rating by 512 :  5.0 rating by 94 :  0.0
movie id:  110 rating by 512 :  5.0 rating by 94 :  5.0
movie id:  150 rating by 512 :  4.0 rating by 94 :  4.0
movie id:  151 rating by 512 :  5.0 rating by 94 :  0.0
movie id:  160 rating by 512 :  4.0 rating by 94 :  3.0
movie id:  161 rating by 512 :  4.0 rating by 94 :  4.0
movie id:  165 rating by 512 :  5.0 rating by 94 :  4.0
movie id:  185 rating by 512 :  3.0 rating by 94 :  2.0
movie id:  208 rating by 512 :  3.0 rating by 94 :  2.0
movie id:  225 rating by 512 :  3.0 rating by 94 :  3.0
movie id:  253 rating by 512 :  5.0 rating by 94 :  1.0
movie id:  288 rating by 512 :  5.0 rating by 94 :  2.0
movie id:  292 rating by 512 :  3.0 rating by 94 :  3.0
movie id:  296 rating by 512 :  5.0 rating by 94 :  4.0
movie id:  300 rating by 512 :  4.0 rating by 94 :  0.0
movie id:  316 rating by 512 :  3.0 rating by 94 :  4.0
movie id:  317 rating by 512 :  3.0 rating by 94 :  3.0
movie id:  318 rating by 512 :  5.0 rating by 94 :  5.0
movie id:  337 rating by 512 :  3.0 rating by 94 :  3.0
movie id:  349 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  350 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  356 rating by 512 :  5.0 rating by 94 :  3.0
movie id:  364 rating by 512 :  4.0 rating by 94 :  4.0
movie id:  367 rating by 512 :  3.0 rating by 94 :  3.0
movie id:  377 rating by 512 :  4.0 rating by 94 :  3.0
movie id:  380 rating by 512 :  3.0 rating by 94 :  3.0
movie id:  434 rating by 512 :  3.0 rating by 94 :  3.0
movie id:  442 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  454 rating by 512 :  4.0 rating by 94 :  0.0
movie id:  457 rating by 512 :  5.0 rating by 94 :  4.0
movie id:  474 rating by 512 :  4.0 rating by 94 :  0.0
movie id:  480 rating by 512 :  4.0 rating by 94 :  4.0
movie id:  500 rating by 512 :  3.0 rating by 94 :  3.0
movie id:  527 rating by 512 :  5.0 rating by 94 :  0.0
movie id:  539 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  553 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  586 rating by 512 :  3.0 rating by 94 :  3.0
movie id:  587 rating by 512 :  4.0 rating by 94 :  3.0
movie id:  588 rating by 512 :  3.0 rating by 94 :  4.0
movie id:  589 rating by 512 :  3.0 rating by 94 :  4.0
movie id:  590 rating by 512 :  3.0 rating by 94 :  4.0
movie id:  593 rating by 512 :  5.0 rating by 94 :  3.0
movie id:  595 rating by 512 :  4.0 rating by 94 :  0.0
movie id:  597 rating by 512 :  4.0 rating by 94 :  2.0

**rating behaviour of dissimilar users by movies rated more than 3**

In [ ]:
print("USER 163")
for j in range(9724):
    if processed_data[162][j]>=3:
      print("movie id: ",movie_id[j],end=" ")
      print("rating by 512" ,": ",processed_data[162][j],end=" ")
      print("rating by", id ,": ",processed_data[id-1][j])

USER 163
movie id:  1407 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1485 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1515 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1588 rating by 512 :  4.0 rating by 94 :  0.0
movie id:  1608 rating by 512 :  4.0 rating by 94 :  0.0
movie id:  1614 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1617 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1625 rating by 512 :  4.0 rating by 94 :  0.0
movie id:  1639 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1676 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1704 rating by 512 :  4.0 rating by 94 :  0.0
movie id:  1717 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1721 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1747 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1777 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1784 rating by 512 :  4.0 rating by 94 :  0.0
movie id:  1810 rating by 512 :  3.0 rating by 94 :  0.0
movie id:  1821 rating by 512 :  3.0 rating by 94 :  0.0

In [ ]:
l=[]
for i in B:
  for j in range(9724):
    if processed_data[i-1][j]>=3:
      if processed_data[id-1][j]==0:
        print("movie id: ",movie_id[j],end=" ")
        print("rating by", i ,": ",processed_data[i-1][j],end=" ")
        print("recommended to", id ,": ",processed_data[id-1][j])
      if movie_id[j] not in l:
        l.append(movie_id[j])

movie id:  50 rating by 512 :  5.0 recommended to 94 :  0.0
movie id:  151 rating by 512 :  5.0 recommended to 94 :  0.0
movie id:  300 rating by 512 :  4.0 recommended to 94 :  0.0
movie id:  349 rating by 512 :  3.0 recommended to 94 :  0.0
movie id:  350 rating by 512 :  3.0 recommended to 94 :  0.0
movie id:  442 rating by 512 :  3.0 recommended to 94 :  0.0
movie id:  454 rating by 512 :  4.0 recommended to 94 :  0.0
movie id:  474 rating by 512 :  4.0 recommended to 94 :  0.0
movie id:  527 rating by 512 :  5.0 recommended to 94 :  0.0
movie id:  539 rating by 512 :  3.0 recommended to 94 :  0.0
movie id:  553 rating by 512 :  3.0 recommended to 94 :  0.0
movie id:  595 rating by 512 :  4.0 recommended to 94 :  0.0

In [ ]:
recommmended_movies = pd.DataFrame(l,columns=['movieId'])
recommmended_movies

    movieId
0        32
1        47
2       110
3       150
4       153
5       161
6       165
7       288
8       296
9       316
10      318
11      329
12      377
13      457
14      480
15      589
16      592
17        2
18       39
19       50
20      151
21      160
22      185
23      208
24      225
25      253
26      292
27      300
28      317
29      337
30      349
31      350
32      356
33      364
34      367
35      380
36      434
37      442
38      454
39      474
40      500
41      527
42      539
43      553
44      586
45      587
46      588
47      590
48      593
49      595
50      597

In [ ]:
import pandas as pd
dt=pd.read_csv("/content/movies.csv")
dt.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
pd.merge(recommmended_movies,dt,how='left',on='movieId')

    movieId  ...                                           genres
0        32  ...                          Mystery|Sci-Fi|Thriller
1        47  ...                                 Mystery|Thriller
2       110  ...                                 Action|Drama|War
3       150  ...                             Adventure|Drama|IMAX
4       153  ...                    Action|Adventure|Comedy|Crime
5       161  ...                               Drama|Thriller|War
6       165  ...                            Action|Crime|Thriller
7       288  ...                            Action|Crime|Thriller
8       296  ...                      Comedy|Crime|Drama|Thriller
9       316  ...                          Action|Adventure|Sci-Fi
10      318  ...                                      Crime|Drama
11      329  ...                           Adventure|Drama|Sci-Fi
12      377  ...                          Action|Romance|Thriller
13      457  ...                                         Thriller
14      480  ...                 Action|Adventure|Sci-Fi|Thriller
15      589  ...                                    Action|Sci-Fi
16      592  ...                            Action|Crime|Thriller
17        2  ...                       Adventure|Children|Fantasy
18       39  ...                                   Comedy|Romance
19       50  ...                           Crime|Mystery|Thriller
20      151  ...                         Action|Drama|Romance|War
21      160  ...                  Action|Adventure|Mystery|Sci-Fi
22      185  ...                            Action|Crime|Thriller
23      208  ...                          Action|Adventure|Sci-Fi
24      225  ...                                   Drama|Thriller
25      253  ...                                     Drama|Horror
26      292  ...                     Action|Drama|Sci-Fi|Thriller
27      300  ...                                            Drama
28      317  ...                             Comedy|Drama|Fantasy
29      337  ...                                            Drama
30      349  ...                      Action|Crime|Drama|Thriller
31      350  ...                           Drama|Mystery|Thriller
32      356  ...                         Comedy|Drama|Romance|War
33      364  ...  Adventure|Animation|Children|Drama|Musical|IMAX
34      367  ...                      Action|Comedy|Crime|Fantasy
35      380  ...         Action|Adventure|Comedy|Romance|Thriller
36      434  ...                        Action|Adventure|Thriller
37      442  ...                          Action|Adventure|Sci-Fi
38      454  ...                                   Drama|Thriller
39      474  ...                                  Action|Thriller
40      500  ...                                     Comedy|Drama
41      527  ...                                        Drama|War
42      539  ...                             Comedy|Drama|Romance
43      553  ...                             Action|Drama|Western
44      586  ...                                  Children|Comedy
45      587  ...            Comedy|Drama|Fantasy|Romance|Thriller
46      588  ...      Adventure|Animation|Children|Comedy|Musical
47      590  ...                          Adventure|Drama|Western
48      593  ...                            Crime|Horror|Thriller
49      595  ...  Animation|Children|Fantasy|Musical|Romance|IMAX
50      597  ...                                   Comedy|Romance

[51 rows x 3 columns]

# **RECOMMENDATION ENGINE 2**

In [ ]:
mov_list=dt['movieId']

In [ ]:
common = df.merge(dt,on=['movieId'])
common.head()

   userId  ...                                       genres
0       1  ...  Adventure|Animation|Children|Comedy|Fantasy
1       5  ...  Adventure|Animation|Children|Comedy|Fantasy
2       7  ...  Adventure|Animation|Children|Comedy|Fantasy
3      15  ...  Adventure|Animation|Children|Comedy|Fantasy
4      17  ...  Adventure|Animation|Children|Comedy|Fantasy

[5 rows x 6 columns]

In [ ]:
data=common[['userId','movieId','rating','timestamp']]
data.head()

   userId  movieId  rating   timestamp
0       1        1     4.0   964982703
1       5        1     4.0   847434962
2       7        1     4.5  1106635946
3      15        1     2.5  1510577970
4      17        1     4.5  1305696483

In [ ]:
pd.DataFrame(dt).isna().sum()

movieId    0
title      0
genres     0
dtype: int64

In [ ]:
dt.title=dt['title'].str.lstrip()

In [ ]:
dt.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [ ]:
movie_mat = data.pivot_table(index='userId', columns='movieId', values='rating',fill_value=0)
movie_mat.head()

movieId  1       2       3       4       ...  193583  193585  193587  193609
userId                                   ...
1           4.0     0.0     4.0     0.0  ...     0.0     0.0     0.0       0
2           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0       0
3           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0       0
4           0.0     0.0     0.0     0.0  ...     0.0     0.0     0.0       0
5           4.0     0.0     0.0     0.0  ...     0.0     0.0     0.0       0

[5 rows x 9724 columns]

In [ ]:
X = movie_mat.T
X.head()

userId   1    2    3    4    5    6    7    ...  604  605  606  607  608  609  610
movieId                                     ...
1        4.0  0.0  0.0  0.0  4.0  0.0  4.5  ...  3.0  4.0  2.5  4.0  2.5  3.0  5.0
2        0.0  0.0  0.0  0.0  0.0  4.0  0.0  ...  5.0  3.5  0.0  0.0  2.0  0.0  0.0
3        4.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  0.0  0.0  0.0  0.0  2.0  0.0  0.0
4        0.0  0.0  0.0  0.0  0.0  3.0  0.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
5        0.0  0.0  0.0  0.0  0.0  5.0  0.0  ...  3.0  0.0  0.0  0.0  0.0  0.0  0.0

[5 rows x 610 columns]

In [ ]:
processed_data=movie_mat.to_numpy()
import numpy as np
normalised=processed_data-np.asarray([(np.mean(processed_data, 1))]).T

In [ ]:
#A = normalised.T #/ np.sqrt(X.shape[0] - 1)
U, S, V = np.linalg.svd(normalised)

In [ ]:
def top_cosine_similarity(data, movieId,top=10):#, top=10
    index = list(mov_list).index(movieId) - 1  # Movie id starts from 1 in the dataset
    movie_row = data[index, :]
    magnitude = np.sqrt(np.einsum('ij, ij -> i', data, data))
    similarity = np.dot(movie_row, data.T) / (magnitude[index] * magnitude)
    #sim=similarity > 0.7
    sort_indexes = np.argsort(-similarity)
    #res = [similarity for similarity in index if similarity >= thres]
    return sort_indexes[:top_n]
    #return res

In [ ]:
def print_similar_movies(movie_data, movieId, mov_list, top_indexes):
    print('Recommendations for {0}: \n'.format(
    movie_data[movie_data.movieId == movieId].title.values,
    movie_data[movie_data.movieId == movieId].genres.values))
    for id in top_indexes:
        print(movie_data[movie_data.movieId == mov_list[id]].title.values,
              movie_data[movie_data.movieId == mov_list[id]].genres.values)

In [ ]:
k = 503
movieId = 94 # (getting an id from movies data)
top_n = 10
sliced = V.T[:, :k] # representative data
indexes = top_cosine_similarity(sliced, movieId, top_n)

In [ ]:
indexes

array([ 82,  14, 298, 149, 578, 381, 165, 206, 159, 236])

In [ ]:
print_similar_movies(dt, movieId,mov_list, indexes)

Recommendations for ['Beautiful Girls (1996)']:

['Vampire in Brooklyn (1995)'] ['Comedy|Horror|Romance']
['Cutthroat Island (1995)'] ['Action|Adventure|Romance']
['War, The (1994)'] ['Adventure|Drama|War']
['Lord of Illusions (1995)'] ['Horror']
['Oliver & Company (1988)'] ['Adventure|Animation|Children|Comedy|Musical']
['Cops and Robbersons (1994)'] ['Comedy']
['Something to Talk About (1995)'] ['Comedy|Drama|Romance']
['Hideaway (1995)'] ['Thriller']
['Prophecy, The (1995)'] ['Fantasy|Horror|Mystery']
['Man of the House (1995)'] ['Comedy']

In [ ]:
a=np.array([movie_mat[mov_list[82]]])

In [ ]:
b=np.array([movie_mat[mov_list[298]]])

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_similarity(a,b)

array([[0.46360991]])